*{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

#layout1{

    grid-column: 1/4;
    grid-row: 1/2;
    background:#1f1f1f;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 15fr 5fr ;
}
#encabezado{
    font-family: 'Kanit';
    color:white;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    justify-content:center;
    align-content:center;
}
#menu{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    font-size:1.3em;
    display:grid;
    grid-template-columns: repeat( 3, auto);
    grid-template-rows:auto;
    justify-content:center;
    align-content:center;
    column-gap:10%;
    padding:4px 0  ;
    background:#ced4da;
}

.pagina{
    font-color:black;
    text-decoration:none;
    border:2px solid black;
    border-radius:10% / 50%;
    padding: 1% 6% ;
    grid-column:0 /0;
    /* de esta forma quedan centrados todos los elementos*/
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    justify-content:center;
    align-content:center;
}
.pagina:visited, .pagina:link{
    color:black;
    background:#ced4da;
}
.pagina:hover, .pagina:active{
    color:#ced4da;
    background:black;
}
#layoutDer{
    font-family: 'Poppins';

    margin:8px 0 0 0;
    grid-column: 1/2;
    grid-row: 2/3;
    background: black;
    color:white;
    overflow-y:auto;
    overflow-x:hidden;
    display: grid;
    align-content: start;
}
#layoutDer div{
    margin:8px 0 0 0;
    height: auto;
}
#layoutCent{
    margin:0;
    padding:0;

    color:#ced4da;
    font-family: 'Poppins';

    overflow-y:scroll;
    overflow-x:hidden;
    margin:8px 0 0 0;
    grid-column: 2/3;
    grid-row: 2/3;

    background: rgb(142,43,67);
    background: linear-gradient(180deg, rgba(142,43,67,1) 0%, rgba(31,31,31,1) 19%);

    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:150px 25px auto;
    column-gap: 10px;
    row-gap: 15px;
}

#infoLista{
    width: auto;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#infoLista *{
    height: 150px;
}
#infoLista img{
    height: 150px;
    width: 150px;
    margin: 10px 0 0 10px;
}
#imageLista{
    grid-column: 1/2;
}
#nombreLista{
    grid-column: 2/3;

}
#cabeceraListas{
    padding:0;
    grid-column:1/3;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: start;
}
#cabeceraCancion{
    grid-column: 1/2;
}
#cabeceraArtista{
    grid-column: 2/3;
}
.listaCanciones{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;

}
.listaCanciones div{
    padding: 5px 0 0 0;
}
.listaCanciones div:link, .listaCanciones div:visited{
    background: rgb(142,43,67);
    background: linear-gradient(180deg, rgba(142,43,67,1) 0%, rgba(31,31,31,0) 0%);
}
.listaCanciones div:hover, .listaCanciones div:active{
    background: rgb(142,43,67);
    background: linear-gradient(180deg, rgba(142,43,67,1) 0%, rgba(148,148,148,0.6236695361738445) 0%);

}
#nombreCancion{
    grid-column:1/2;
    grid-row:3/4;

}
#nombreArtista{
    grid-column:2/3;
    grid-row:3/4;
}
#nombreArtista div:link, #nombreArtista div:visited{
    text-decoration: none;
}

#nombreArtista div:active, #nombreArtista div:hover{
    text-decoration: underline;
}

#layoutIzq{
    font-family: 'Poppins';

    margin:8px 0 0 0;
    grid-column: 3/4;
    grid-row: 2/3;
    background: black;
}
#layoutInf{
    font-family: 'Poppins';

    margin:8px 0 0 0;
    grid-column: 1/4;
    grid-row: 3/4;
    background: darkgrey;
}
