* {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    color: #F0EFF4;
}

#content {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#layoutCent {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    justify-content: center;
    align-content: center;
}

#layoutCent form {
    height: 400px;
    width: 210px;
}

#formLogin {
    background:#1f1f1f ;
    padding: 40px 0 0 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    border: 4px solid #832161;
    border-radius: 10% / 12%;
    accent-color: #832161;
    row-gap: 15px;
    column-gap: 15px;
}
#formLogin *{
    background:#1f1f1f ;
}
.etiqueta{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 1/3;
}
.inputText {
    display: grid;
    justify-content: center;
    align-content: center;
    border: solid #DA4167;
    grid-column: 1/3;
}
#labelNombre{
    grid-row:1/2;
}
#inputNombre{
    grid-row:2/3;
}
#labelApellidos{
    grid-row:3/4;
}
#inputApellidos{
    grid-row:4/5;
}
#labelEmail{
    grid-row:5/6;
}
#inputEmail{
    grid-row:6/7;
}
#labelPassword{
    grid-row:7/8;
}
#inputPassword{
    grid-row:8/9;
}
#labelUsername {
    grid-row: 9/10;
}
#inputUsername{
    grid-row:10/11;
}
#buttonRegistro{
    grid-row: 11/12;
    grid-column: 1/2;
}
#buttonRegistro div {
    text-decoration: none;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

#buttonLogin {
    grid-column: 2/3;
    grid-row: 11/12;
}

#buttonRegistro a {
    text-decoration: none;
}

.boton {
    text-decoration: none;
    border: 1px solid #832161;
    border-radius: 10% / 50%;
    padding: 3px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#layoutInf{
    background: #4c4d4f;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}
#layoutInf div{

    height: 18px;
    width: auto;
}
#layoutInf div p{
    background: #4c4d4f;
}
